extends layout

block content
  h1= title
  p Welcome to #{title}
  div#top.container
    div#block1.block: p.number 1
    div#block2.block
    div#block3.block
  div#middle.container
    div#block4.block
    div#block5.block
    div#block6.block
  div#bottom.container
    div#block7.block
    div#block8.block
    div#block9.block
