extends layout

block content
  h1= title
  p#status
  div#top.container
    div#block1.block: p.number 1
    div#block2.block: p.number 2
    div#block3.block: p.number 3
  div#middle.container
    div#block4.block: p.number 4
    div#block5.block: p.number 5
    div#block6.block: p.number 6
  div#bottom.container
    div#block7.block: p.number 7
    div#block8.block: p.number 8
    div#block9.block: p.number 9
  script(src='/javascripts/bundle.js')

